@use "../../sass/breakpoints" as bp;

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
  align-items: center;
  padding: 5rem 0;

  @media (max-width: bp.$lg) {
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: bp.$sm) {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem 0;
  }

  @media (max-width: bp.$xsm) {
    padding: 0;

    &__info {
      padding: 0 2rem;
    }
  }

  &__brand {
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    display: block;
  }

  &__name {
    font-size: 2.75rem;
    color: var(--color-black);
    margin-bottom: 2rem;

    @media (max-width: bp.$lg) {
      font-size: 2.25rem;
    }
  }

  &__description {
    color: var(--color-dark-gray-blue);
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
  }

  &__pricing {
    display: flex;
    flex-direction: column;

    @media (max-width: bp.$xsm) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      font-size: 1rem;
      display: block;
      margin-left: 1rem;
      color: var(--color-orange);
      background-color: var(--color-pale-orange);
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
    }
  }

  &__crossed {
    color: var(--color-gray-blue-1);
    font-weight: 700;
    text-decoration: line-through;
  }

  &__controls {
    display: flex;
    align-items: stretch;
    margin-top: 2rem;

    @media (max-width: bp.$lg) {
      flex-direction: column;
    }
  }

  &__add {
    flex: 1;
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 5px rgba(255, 125, 26, 0.25);

    &:hover {
      opacity: 0.5;
    }

    svg {
      margin-right: 1rem;
    }
  }

  &__amount {
    background-color: var(--color-gray-blue-2);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;

    @media (max-width: bp.$lg) {
      margin-right: 0;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    span {
      margin: 0 1.5rem;
      font-weight: 700;
      color: var(--color-black);
      width: 3rem;
      text-align: center;
    }

    button {
      background-color: transparent;
      border: none;
      color: var(--color-orange);
      font-weight: 700;
      font-size: 1.5rem;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__success {
    color: var(--color-gray-blue-1);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    opacity: 0;
    transition: all 0.2s;

    svg {
      margin-right: 0.5rem;
    }

    &--visible {
      opacity: 1;
    }
  }
}
