.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--color-dark-gray-blue);
  width: 100%;

  &__thumbnail {
    width: 3rem;
    border-radius: 0.25rem;
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  &__price {
    span {
      font-weight: 700;
      color: var(--color-black);
    }
  }

  &__details {
    margin-bottom: 1rem;
  }

  &__delete {
    color: var(--color-gray-blue-1);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    align-self: center;

    &:hover {
      color: var(--color-dark-blue);
    }
  }
}

.delete {
  width: 100%;

  &__text {
    margin-bottom: 0.5rem;
    color: var(--color-dark-gray-blue);
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;

    & > button {
      flex: 1;
      border: none;
      cursor: pointer;
      transition: all 0.2s;
    }
  }

  &__cancel {
    background-color: transparent;
    color: var(--color-dark-gray-blue);

    &:hover {
      color: var(--color-gray-blue-1);
    }
  }

  &__confirm {
    background-color: var(--color-delete);
    color: var(--color-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;

    &:hover {
      opacity: 0.5;
    }
  }
}
